<!Doctype html>
<html lang="eng">
    <head>
        <title>
            <%= title %>
        </title>
        <link type="text/css" rel="stylesheet" href="../public/stylesheets/main.css" />
    </head>
    <body>
        <% include templates/header.ejs %>
        <div>Welcome to <%= title %></div>
    </body>
</html>